<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "header.html" . }}
</head>
<body>
  {{ partial "masthead.html" . }}
  <main class="flex flex-wrap pa2">
    {{ partial "leftaside.html" . }}
    <div class="w-100 w-70-m w-80-l pl2-m ph2-l">
      <article>
        <h1 class="f3 f2-l sans-serif mid-gray">{{ .Title }}</h1>
        <div class="flex flex-wrap">
          {{ range .Data.Pages }}
            <div class="w-50 w-33-l f6 f5-l sans-serif mid-gray lh-copy pa2">
              <h1 class="f4 f3-l sans-serif mid-gray"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
              {{ .Description | truncate 140 }}
            </div>
          {{ end }}
        </div>
      </article>
    </div>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
