<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "header.html" . }}
</head>
<body>
  {{ partial "masthead.html" . }}
  <main class="flex flex-wrap pa2 cf">
    <div class="center w-100 w-70-m w-60-l pl2-m ph2-l">
      <article class="f5 f4-l sans-serif mid-gray lh-copy">
        <h1 class="f2 f1-l sans-serif mid-gray">Something went wrong!</h1>
        The page you are looking for could not be found at this location. Try
        the navigation or search above to look for it.
      </article>
    </div>
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
